.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 0.2rem solid var(--border-color);

  padding: 1rem;
  margin-top: 2rem;
  gap: 1rem;
}
