:root {
  --screen-height: 100vh;
  --screen-width: 100vw;
  --mainheader-height: 1.6rem;
  --maincontent-height: calc(var(--screen-height) - var(--mainheader-height));

  /* light */

  --bgc-main: white;
  --bgc-sub: whitesmoke;
  --border-color: black;

  --project-card-bgc: rgb(240, 240, 240);
  --project-card-bgc-hover: rgb(220, 220, 220);

  /* dark */

  /* ---------------------------- */

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
